.App {
  text-align: center;
  overflow-y: auto;
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.tools-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  overflow-y: auto;
}

body {
  background-image: radial-gradient(circle, #EFDEFF, white);
  overflow-y: auto;
  height: 100%;
  margin: 0;
  padding: 0;
}

.logo-text {
  color: #9730FF;
  position: absolute;
  font-weight: bold;
  font: Helvetica;
  font-size: 32px;
  width: 65px;
  left: 72px;
}

.profile-button {
  top: 25px;
  position: absolute;
  right: 75px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  overflow: hidden;
  cursor: pointer;
  background-color: transparent;
  z-index: 999;
  transition: transform 0.2s ease-in-out;
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
}

.profile-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 52px;
  background-color: rgba(0, 0, 0, 0); /* Initial state: transparent */
  opacity: 0; /* Initially invisible */
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

/* Hover state styles for the overlay */
.profile-button:hover::after {
  background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
  opacity: 1; /* Make the overlay visible on hover */
}

/* add on hover, black film goes over pfp */
.profile-button img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.motto-text {
  font: Helvetica;
  font-weight: 400;
  font-size: 48px;
  position: absolute;
  width: 586px;
  height: 77px;
  top: 259px;
  left: 71px;
  margin-bottom: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  height: 100px;
  align-items: center;
  justify-content: center;
  color: white;
}

.back-button {
  position: absolute;
  margin-top: 800px;
  left: 80px;
  width: 112px;
  height: 56px;
  font-size: 18px;
  font: Plus Jakarta Sans;
  font-weight: 700;
  color: #1A1225; 
  background-color: white;
  border: 1px solid #C8C8C8;
  border-radius: 8px;
  cursor: pointer;
}

.finish-button {
  position: absolute;
  margin-top: 800px;
  left: 250px;
  width: 140px;
  height: 56px;
  font-size: 18px;
  font: Plus Jakarta Sans;
  font-weight: 700;
  color: white; 
  background-color: #1A1225;
  border: 1px solid #1A1225;
  border-radius: 8px;
  cursor: pointer;
}

